acme==1.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.6
aiosignal==1.3.1
apturl==0.5.2
attrs==24.2.0
bcrypt==3.1.7
blinker==1.4
Brlapi==0.7.0
cajarename==19.7.15
catfish==1.4.13
certbot==0.40.0
certbot-apache==0.39.0
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==3.4.0
Click==7.0
colorama==0.4.3
command-not-found==0.3
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.8
cssutils==1.0.2
cupshelpers==1.0
datasets==3.1.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
deja-dup-caja==0.0.6
dill==0.3.8
distro-info==0.23+ubuntu1.1
duplicity==0.8.12.0
entrypoints==0.3
fasteners==0.14.1
filelock==3.16.1
folder-color-caja==0.0.86
folder-color-common==0.0.86
frozenlist==1.5.0
fsspec==2024.9.0
future==0.18.2
gajim==1.1.3
gpg==1.13.1
httplib2==0.14.0
huggingface-hub==0.26.2
idna==2.8
ipython_genutils==0.2.0
josepy==1.2.0
jupyter-core==4.6.3
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.12.0
macaroonbakery==1.3.1
Magnus==1.0.3
Mako==1.1.0
mate-hud==19.10.0
mate-menu==20.4.1
mate-tweak==20.4.0
menulibre==2.2.1
mock==3.0.5
monotonic==1.5
mugshot==0.4.2
multidict==6.1.0
multiprocess==0.70.16
nbxmpp==0.6.10
netifaces==0.10.4
numpy==2.1.3
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
packaging==24.2
pandas==2.2.3
paramiko==2.6.0
parsedatetime==2.4
pbr==5.4.5
pexpect==4.6.0
Pillow==7.0.0
precis-i18n==1.0.0
propcache==0.2.0
psutil==5.5.1
pulsemixer==1.5.0
pyarrow==18.0.0
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
PyGObject==3.36.0
PyICU==2.4.2
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyRFC3339==1.1
python-apt==2.0.1+ubuntu0.20.4.1
python-augeas==0.5.0
python-axolotl==0.2.3
python-axolotl-curve25519==0.4.1.post2
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
python-gnupg==0.4.5
python-xapp==1.8.1
python-xlib==0.23
pytz==2024.2
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
qrcode==6.1
reportlab==3.5.34
requests==2.32.3
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
scipy==1.3.3
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
setproctitle==1.1.10
sgt-launcher==0.2.5
simplejson==3.16.0
six==1.14.0
ssh-import-id==5.10
systemd-python==234
tqdm==4.67.0
traitlets==4.3.3
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
wadllib==1.3.3
xcffib==0.8.1
xkit==0.0.0
xxhash==3.5.0
yarl==1.17.2
youtube-dl==2020.3.24
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
